body {
  background-color: #002f65;
  font-family: monospace;
  font-size: 12px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 97vh;
}

main {
  flex-grow: 1;
}

#logo-vg {
  width: 255px;
  height: 83px;
}
